* {
    font-family: "Poppins", sans-serif;
}

h1 {
    color: white;
}

body {
    margin: 0;
}

h3 {
    color: white;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

section.whatWeDo {
    padding: 75px;
}

section.appWorked {
    padding: 75px;
}

.aboutBody {
    display: flex;
    gap: 40px;
}

.aboutBodySection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.border {
    width: 5px;
    background-color: #f1f1f1;
}

.listItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.listItemContent {
    font-size: 25px;
}

.listNumberCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #0e9bbd;
    border-radius: 50%;
    width: 30px;
    min-width: 30px;
    height: 30px;
}

.listNumberContent {
    font-size: 20px;
    font-weight: bold;
    color: #0e9bbd;
}

.secondaryDarkListNumber {
    border: 4px solid #10728a;
}

.secondaryDarkListNumber .listNumberContent {
    color: #10728a;
}

.tertiaryDarkListNumber {
    border: 4px solid #0b4f60;
}

.tertiaryDarkListNumber .listNumberContent {
    color: #0b4f60;
}

.appHeader {
    font-size: 25px;
}

.appContent {
    font-weight: 400;
    font-size: 20px;
}

.appsWrapper {
    display: flex;
    gap: 40px;
}

.appWrapper {
    flex: 1;
}


.phone {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 20vw;
    max-width: 300px;
}

.phone1 {
    position: absolute;
    z-index: 1;
    top: 3vw;
    left: 10vw;
    width: 20vw;
    max-width: 300px;
}

.phoneWrapper {
    position: relative;
}

.mobileOnlyApps {
    display: none;
}

.desktopOnlyApps {
    height: 70vh
}

.header2 {
    font-size: 40px;
    text-align: center;
}

.contentbox {
    max-width: 1500px;
    margin: 0 auto;
}


.centerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.description {
    font-size: 25px;
    text-align: center;
    margin: 5px 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    width: fit-content;
    height: 70px;
    padding: 5px 30px;
    border-radius: 70px;
    color: white;
    font-weight: 600;
    font-size: 35px;
    gap: 15px;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.button p {
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.discord {
    background: linear-gradient(to right, #0E9CBC, #0066DB);
}

.github {
    background: linear-gradient(to right, #333333, #616161);
}

.mail {
    background: linear-gradient(to right, #1E7B92, #0B5560);
}

.link {
    color: #0B4F60;
    text-decoration: underline;
    text-align: center;
    font-size: 25px;
    margin: 5px 0;
}

.link:hover {
    cursor: pointer;
    color: #0cb1d6;
}

.map {
    width: 80vw;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

@media screen and (min-width: 1400px) {

    .phone {
        top: 0;
        left: 0;
        width: 30vw;
        min-width: 300px
    }

    .phone1 {
        top: 2vh;
        left: 8vw;
        width: 30vw;
        min-width: 300px
    }
}


@media screen and (min-width: 1200px) and (max-width: 1400px) {

    .phone {
        top: 0;
        left: 0;
        width: 30vw;
    }

    .phone1 {
        top: 2vh;
        left: 12vw;
        width: 30vw;
    }

    section {
        padding: 25px;
    }

    .aboutBody {
        flex-direction: column;
    }

    .aboutBodySection {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .border {
        width: 100%;
        height: 5px;
    }
}

.header a {
    color: white;
}

/* header */

.header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 200%;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: transparent;
    color: pink;
    transition: 0.4s;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: none;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* background image here */

.hero {
    background-image: url(../images/iphone.jpg);
    height: 1500px;
    width: auto;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

.title {
    padding-top: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 700%;
    width: 60%;
}

.sub-title {
    text-align: center;
    font-size: 175%;
    width: 650px;
    margin: 0 auto;
    line-height: 2.5;
    padding-top: 50px;
}

.underline {
    text-decoration: underline;
}

#navbar-header {
    color: white;
    font-size: 300%;
}

.menu-icon {
    margin-right: 30px;
    margin-top: 15px;
    background-color: white;
    border-radius: 50%;
}

@media screen and (max-width: 900px) {
    section {
        padding: 25px;
    }

    .phone {
        top: 0;
        left: 0;
        width: 30vw;
    }

    .phone1 {
        top: 5vh;
        left: 20vw;
        width: 30vw;
    }

    .aboutBody {
        flex-direction: column;
    }

    .aboutBodySection {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .border {
        width: 100%;
        height: 5px;
    }


    .desktopOnlyApps {
        display: none;
    }

    .mobileOnlyApps {
        display: block;
        height: 60vh !important;
    }

    .appsWrapper {
        flex-direction: column;
    }

    .appWrapper {
        height: 60vh;
    }
}



@media screen and (max-width: 768px) {
    .phone {
        top: 0;
        left: 0;

        width: 40vw;
        min-width: 200px
    }

    .phone1 {
        top: 5vh;
        left: 30vw;
        width: 40vw;
        min-width: 200px;
    }

    .appWrapper {
        height: 40vh;
    }
}